.idea/
.vs/
.vagrant/
logs/
bin/
include/
man/
lib/
local/
src/
share/
venv/
site_media/
node_modules/
locale_compile/
sef/search/local_cache
#sef/static/dist/*.js.map
profiling/
profiling2/

sef-new.pyproj
sef-new.sln
env_vars
.env
.env*
pypipl
*.pyc
*.pickle
*.log
*.stats
*.swp
coverage.xml
.coverage
junit.xml
*configmap.yaml
pip-selfcheck.json
webpack-stats.json
/obj/Debug
/env
/web.debug.config
/web.config
/ptvs_virtualenv_proxy.py
/sef-new.pyproj.user
/node_modules
/kubernetes/configmap.yaml
usage_files/*
.cache/
.image_tag
.vscode